<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="/">About Us</a></li>
            <li><a href="/products/">Our Products</a></li>
            <li><a href="https://www.youtube.com/channel/UCyvib2zUTM4k6MDzK7FF5_g">Videos</a></li>            
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>            
          </ul>
        </div>
        <p>&copy; Copyright 2017. G-Line Glass. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
